/* --- main defaults --- */
main {
  min-height: 80vh;
}
body {
  margin: 0;
}

/* --- Header --- */
.header {
  background-color: #e41b23;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.nav-links {
  color: white;
  font-size: 100%;
  margin-top: 12px;
  font-weight: 500;
}
.nav-links:hover {
  color: rgba(255, 255, 255, 0.75);
  cursor: pointer;
}
.nav-links > i {
  margin-left: 1rem;
}

.nav-icon {
  color: white;
  font-size: 225%;
  margin-right: 0.5rem;
  display: inline-block;
}
.nav-icon:hover {
  color: rgba(255, 255, 255, 0.75);
}

/* --- Home Screen -- */
.profile-pic {
  text-align: center;
  margin: auto;
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.home-txt {
  color: #4e4e4e;
  text-align: left;
}
.sep-line {
  width: 100%;
  background-color: #e4e4e4;
  height: 2px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin-top: 5rem;
}
.what-I-Do-Row {
  width: 85%;
  text-align: center;
  margin: auto;
  margin-top: 2rem;
}
.heading {
  font-size: 200%;
  font-family: 'Anton', sans-serif;
  color: #e41b23;
}
.bigHeading {
  font-size: 300%;
  font-family: 'Anton', sans-serif;
  color: #e41b23;
  margin: auto;
  text-align: center;
  margin-bottom: 2rem;
}

/* --- Video Screen --- */
.video-screen {
  margin-top: 5rem;
  margin-bottom: 6rem;
}
.youtubeVideo {
  width: 100%;
  height: 100%;
}
.video-div {
  margin-bottom: 1rem;
  height: 15rem;
}

/* --- picture screen --- */
.picture-screen {
  margin: auto;
  text-align: center;
  margin-top: 2rem;
}

/* --- misc --- */
.upload-image {
  background-color: red;
  border: none;
}
.upload-image:hover {
  background-color: rgb(158, 0, 0);
}
.upload-image:active {
  background-color: red;
  border: none;
}

@media (max-width: 999px) {
  .what-I-Do-Row {
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 2rem;
  }
  .move-row {
    padding-top: 3rem;
  }
  .nav-socials {
    margin-left: 1rem;
    margin-top: 1rem;
  }
  .mr-auto {
    margin-top: 1rem;
  }
}
